@import "partials/font-awesome";
@import "partials/reset";
@import "compass/css3/flexbox";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/images";

body {
  font-size: 10px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  height: 10em;
  max-width: 98em;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: table;

  #social-network,
  #betteur-link {
    display: table-cell;
  }

  #betteur-link {
    width: 70%;

    li {
      margin-top: 0.5em;
      a {
        color: #999999;
        font-size: 1.5em;

        &:hover {
          color: #073b84;
        }
      }
    }
  }

  h3 {
    color: #898989;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0.5em;
  }

  #social-network {
    width: 30%;
    position: absolute;
    right: 0;

    ul {
      float: right;
      @include display-flex(flex);
      @include align-content(flex-start);
    }
  }

  i {
    @include display-flex(flex);
    margin-top: 1em;
  }

  i:before {
    font-size: 4em;
    color: #898989;
    padding-right: 0.5em;
  }

  i:hover:before {
    color: #073b84;
  }
}

.header-wrapper {
  height: 3em;
  overflow: hidden;
  @include background(url("../public/images/Betteur.jpg"));
  background-repeat: no-repeat;
  -webkit-background-size: 7em;
  background-size: 7em;
  background-position: 0em;
}

header {
  width: 100%;
  height: 3em;
  position: relative;
  background: #073b84;
  font-size: 2.6em;
  @include background(#073b84);
  background-repeat: no-repeat;
  -webkit-background-size: 7em;
  background-size: 7em;
  background-position: em;
  @include box-shadow(rgba(0, 0, 0, 0.25) 0 2px 4px -1px);

  h1 {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    color: white;
  }
}

main {
  padding: 2em;

  p {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    font-style: italic;
  }
}

@media only screen and (max-width: 780px) {
  footer {
    width: 90%;
  }

  body {
    max-width: 78em;
    width: 100%;
  }

  article {
    border-radius: 1em;
    background: #eee;
    width: 95%;
    margin: 2em auto;
    height: 15em;
    display: table;

    &:hover {
      background-color: #4f94f6;
      @include transition-property(background-color);
      @include transition-duration(1.2s);

      a {
        color: white;
        @include transition-property(color);
        @include transition-duration(0.8s);
      }
    }

    .col-1-3 {
      display: table-cell;
      width: 100/3%;
      height: 14em;
      vertical-align: middle;
    }

    .col-2-3 {
      display: table-cell;
      width: 100/3*2%;
      padding: 2em;
    }

    a {
      text-decoration: none;
      height: 100%;
      display: block;
      color: #999;
    }

    img {
      padding-left: 2em;
      width: 14em;
    }
  }
}

@media only screen and (min-width: 781px) {
  header {
    position: relative;
  }

  main {
    background: white;
    max-width: 98em;
    width: 100%;
    margin: 1em auto;
  }

  .header-wrapper {
    position: relative;
    max-width: 38em;
    width: 100%;
    margin: 0 auto;

    h1 {
      position: absolute;
      bottom: 0.5em;
      right: 0;
    }
  }

  section {
    width: 100%;
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
  }

  article {
    background: #eee;
    width: 15em;
    height: 20em;
    margin-bottom: 2em;
    margin-right: 2em;
    margin-left: 2em;
    display: inline;
    @include border-radius(1.5em);
    vertical-align: text-top;
    @include box-shadow(rgba(0, 0, 0, 0.25) 0 2px 4px -1px);

    img {
      width: 10em;
      margin: 2em auto;
      display: block;
    }

    p {
      text-decoration: none;
      text-transform: none;

      &.bonus-deposit-information {
        padding: 0 0.5em;
        font-size: 1.5em;
      }
    }
  }
}

// PHONE
//@media only screen
//and (min-device-width: 320px)
//and (max-device-width: 480px) {
//}
//
//// Iphone 4 and 4S
@media only screen and (min-device-width: 320px) and (max-device-width: 780px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-device-width: 320px) and (max-device-width: 780px) and (-webkit-min-device-pixel-ratio: 1.5),
screen and (min-device-width: 320px) and (max-device-width: 780px) and (-webkit-min-device-pixel-ratio: 1.0) {
  footer {
    width: 90%;
    height: 20em;
    margin: 0 auto;
    position: relative;

    #social-network,
    #betteur-link {
      display: block;
    }

    #betteur-link {
      width: 70%;

      h3 {
        font-size: 5em;
      }

      li {
        margin-top: 1em;
        a {
          color: #999999;
          font-size: 4em;

          &:hover {
            color: #073b84;
          }
        }
      }
    }
  }
  
  #social-network {
    position: inherit;
    margin-bottom: 3em;

    i {
        font-size: 2em;
    }
  }

  main {
    width: auto;
    background: #f5f5f5;

    p {
      font-size: 4em;
    }
  }

  .col-2-3 p {
    font-size: 8em;
    color: #073b84;
  }

  article {
    p.bonus-deposit-information {
      font-size: 4em;
    }
  }

  body {
    max-width: 156em;
    width: 100%;
  }

  .header-wrapper {
    position: relative;
    background: none;
    height: 7em;
    h1 {
      font-size: 2em;
      bottom: 1.1em;
      right: 0.5em;
    }
  }

  main p {
    color: #073b84;
  }

  header {
    width: auto;
    height: 6em;
    padding: 1em;
    @include background(url("../public/images/logo.png"), #073b84);
    background-repeat: no-repeat;
    background-position: 2em;
    @include box-shadow(rgba(0, 0, 0, 0.25) 0 0.5em 0.5em -0.1em);
  }

  article {
    border-radius: 2em;
    background: #eee;
    width: 95%;
    margin: 2em auto;
    height: 30em;
    display: table;

    &:hover {
      background-color: #4f94f6;
      @include transition-property(background-color);
      @include transition-duration(1.2s);

      a {
        color: white;
        @include transition-property(color);
        @include transition-duration(0.8s);
      }
    }

    .col-1-3 {
      display: table-cell;
      width: 100/3%;
      height: 28em;
      vertical-align: middle;
    }

    .col-2-3 {
      display: table-cell;
      width: 100/3*2%;
      padding: 4em;
    }

    a {
      text-decoration: none;
      height: 100%;
      display: block;
      color: #999;
    }

    img {
      padding-left: 4em;
      width: 28em;
    }
  }
}
